<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="localdbConnection"
    connectionString="Data Source = (localdb)\MSSQLLocalDB; Initial Catalog = Library;Integrated Security = True;"

   />
	</connectionStrings>
 <userSettings>
  <SQLConnect.Properties.Settings>
   <setting name="connStr" serializeAs="String">
    <value>Data Source = (localdb)\MSSQLLocalDB; Initial Catalog = Library;Integrated Security = True;</value>
   </setting>
  </SQLConnect.Properties.Settings>
 </userSettings>
</configuration>